<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dev.indianrecipes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/indianrecipes"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AllRecipes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".breakfast.Breakfast"
            android:label="@string/app_name2"></activity>
        <activity android:name=".breakfast.Idli"
            android:label="@string/app_name17"></activity>
        <activity android:name=".breakfast.Oats"
            android:label="@string/app_name3"></activity>
        <activity android:name=".breakfast.BasicIdli"
            android:label="@string/app_name4"></activity>
        <activity android:name=".breakfast.TriColorIdli"
            android:label="@string/app_name5"></activity>

        <activity android:name=".breakfast.TumblerIdli"
            android:label="@string/app_name6"></activity>
        <activity android:name=".breakfast.KanchiIdli"
            android:label="@string/app_name7"></activity>
        <activity android:name=".breakfast.MasalaIdli"
            android:label="@string/app_name8"></activity>
    <activity android:name=".breakfast.SambarIdli"
        android:label="@string/app_name11"></activity>
        <activity android:name=".breakfast.RagiIdli"
            android:label="@string/app_name10"></activity>
        <activity android:name=".Dosa.MasalaDosa"
            android:label="@string/app_name21"></activity>
        <activity android:name=".Dosa.Dosa"
            android:label="@string/app_name19"></activity>
        <activity android:name=".Dosa.BananaDosa"
            android:label="@string/app_name23"></activity>
        <activity android:name=".Dosa.NeerDosa"
            android:label="@string/app_name24"></activity>
        <activity android:name=".Dosa.Ravadosa"
            android:label="@string/app_name25"></activity>
        <activity android:name=".Dosa.DalDosa"
            android:label="@string/app_name26"></activity>
        <activity android:name=".Dosa.TomatoDosa"
            android:label="@string/app_name27"></activity>
        <activity android:name=".breakfast.PaneerParathaa"
            android:label="@string/app_name30"></activity>
        <activity android:name=".breakfast.Paratha"
            android:label="@string/app_name31"></activity>
        <activity android:name=".breakfast.Pohaa"
            android:label="@string/app_name32"></activity>
        <activity android:name=".breakfast.Upamaa"
            android:label="@string/app_name34"></activity>
        <activity android:name=".Snacks.Biscuites"
            android:label="@string/app_name35"></activity>
        <activity android:name=".Snacks.Cashews"
            android:label="@string/app_name36"></activity>
        <activity android:name=".Snacks.Chikki"
            android:label="@string/app_name37"></activity>
        <activity android:name=".Snacks.Nankatai"
            android:label="@string/app_name38"></activity>
        <activity android:name=".Snacks.Papdi"
            android:label="@string/app_name39"></activity>
      <activity android:name=".Snacks.Chivda"
          android:label="@string/app_name40"></activity>
        <activity android:name=".Snacks.Snacks"
            android:label="@string/app_name41"></activity>
        <activity android:name=".Sweets.Sweets"
            android:label="@string/app_name42"></activity>
        <activity android:name=".Sweets.BadamHalva"
            android:label="@string/app_name43"></activity>
        <activity android:name=".Sweets.BundiLaddu"
            android:label="@string/app_name44"></activity>
        <activity android:name=".Sweets.Rasgulla"
            android:label="@string/app_name45"></activity>
        <activity android:name=".Sweets.RavaLaddu"
            android:label="@string/app_name46"></activity>
        <activity android:name=".Sweets.Burfi"
            android:label="@string/app_name47"></activity>
        <activity android:name=".Sweets.GulabJamun"
            android:label="@string/app_name48"></activity>
        <activity android:name=".Sweets.Shrikhand"
            android:label="@string/app_name49"></activity>

        <activity android:name=".Sweets.Kulfi"
            android:label="@string/app_name50"></activity>
        <activity android:name=".Sweets.Aamras"
            android:label="@string/app_name51"></activity>
        <activity android:name=".Sweets.Jalebi"
            android:label="@string/app_name52"></activity>
        <activity android:name=".Snacks.Bhujiya"
            android:label="@string/app_name54"></activity>
        <activity android:name=".Snacks.Dhokla"
            android:label="@string/app_name55"></activity>
        <activity android:name=".Snacks.Khandavi"
            android:label="@string/app_name58"></activity>
        <activity android:name=".Snacks.Sukhiyan"
            android:label="@string/app_name56"></activity>
        <activity android:name=".LunchBox.BrocoliParatha"
            android:label="@string/app_name61"></activity>
        <activity android:name=".LunchBox.Lunch"
            android:label="@string/app_name60"></activity>

        <activity android:name=".LunchBox.Chapati"
            android:label="@string/app_name63"></activity>
        <activity android:name=".LunchBox.VangiBhat"
            android:label="@string/app_name65"></activity>
        <activity android:name=".LunchBox.PotatoPulav"
            android:label="@string/app_name66"></activity>
        <activity android:name=".LunchBox.Bhakri"
            android:label="@string/app_name67"></activity>
        <activity android:name=".LunchBox.SpinachRice"
            android:label="@string/app_name68"></activity>
        <activity android:name=".LunchBox.BhendyFry"
            android:label="@string/app_name69"></activity>
        <activity android:name=".LunchBox.DalFry"
            android:label="@string/app_name70"></activity>
        <activity android:name=".LunchBox.Thalipeeth"
            android:label="@string/app_name71"></activity>
        <activity android:name=".LunchBox.VegetablesParatha"
            android:label="@string/app_name72"></activity>
        <activity android:name=".Rice.Rice"
            android:label="@string/app_name73"></activity>
        <activity android:name=".Rice.CoconutRice"
            android:label="@string/app_name74"></activity>
        <activity android:name=".Rice.LemonRice"
            android:label="@string/app_name75"></activity>
        <activity android:name=".Rice.KashmiriPulav"
            android:label="@string/app_name76"></activity>
        <activity android:name=".Rice.TomatoRicee"
            android:label="@string/app_name77"></activity>
        <activity android:name=".Rice.MangoRice"
            android:label="@string/app_name78"></activity>
        <activity android:name=".Rice.CurdRice"
            android:label="@string/app_name79"></activity>
        <activity android:name=".Rice.FriedRice"
            android:label="@string/app_name80"></activity>
        <activity android:name=".Vegatarian.Vegatarian"
            android:label="@string/app_name91"></activity>
        <activity android:name=".Vegatarian.PaneerKofta"
            android:label="@string/app_name9"></activity>
        <activity android:name=".Vegatarian.Palak"
            android:label="@string/app_name92"></activity>
        <activity android:name=".Vegatarian.PattaGobi"
            android:label="@string/app_name93"></activity>
        <activity android:name=".Vegatarian.ShahiPaneer"
            android:label="@string/app_name97"></activity>
        <activity android:name=".Vegatarian.DumAaloo"
            android:label="@string/app_name94"></activity>
        <activity android:name=".Vegatarian.Mushrooms"
            android:label="@string/app_name96"></activity>
        <activity android:name=".Vegatarian.VegetablesCurry"
            android:label="@string/app_name99"></activity>
        <activity android:name=".Vegatarian.Kofta"
            android:label="@string/app_name98"></activity>
        <activity android:name=".Vegatarian.Aaloo"
            android:label="@string/app_name81"></activity>
        <activity android:name=".Vegatarian.Bharta"
            android:label="@string/app_name83"></activity>
        <activity android:name=".NonVegetarian.NonVegetarian"
            android:label="@string/app_name111"></activity>
        <activity android:name=".NonVegetarian.ScallionChicken"
            android:label="@string/app_name112"></activity>
        <activity android:name=".NonVegetarian.OrangeChicken"
            android:label="@string/app_name113"></activity>
        <activity android:name=".NonVegetarian.ChilliChicken"
            android:label="@string/app_name114"></activity>
        <activity android:name=".NonVegetarian.ChickenTikka"
            android:label="@string/app_name115"></activity>
        <activity android:name=".NonVegetarian.ChickenKurma"
            android:label="@string/app_name116"></activity>
        <activity android:name=".NonVegetarian.ChickenCurry"
            android:label="@string/app_name117"></activity>
        <activity android:name=".NonVegetarian.SeasameChicken"
            android:label="@string/app_name118"></activity>
        <activity android:name=".NonVegetarian.SixtyFive"
            android:label="@string/app_name119"></activity>
        <activity android:name=".NonVegetarian.StirFryChicken"
            android:label="@string/app_name101"></activity>
        <activity android:name=".NonVegetarian.ButterChicken"
            android:label="@string/app_name100"></activity>
        <activity android:name=".NonVeg.NonVeg"
        android:label="@string/app_name120"></activity>
        <activity android:name=".NonVeg.MuttonFry"
            android:label="@string/app_name121"></activity>
        <activity android:name=".NonVeg.MuttonCurry"
            android:label="@string/app_name122"></activity>
        <activity android:name=".NonVeg.Keema"
            android:label="@string/app_name123"></activity>
        <activity android:name=".NonVeg.FriedFish"
            android:label="@string/app_name124"></activity>
        <activity android:name=".NonVeg.FishKorma"
            android:label="@string/app_name125"></activity>
        <activity android:name=".NonVeg.FishCurry"
            android:label="@string/app_name126"></activity>
        <activity android:name=".NonVeg.ShahiKorma"
            android:label="@string/app_name127"></activity>
        <activity android:name=".NonVeg.FishPakoda"
            android:label="@string/app_name128"></activity>
        <activity android:name=".NonVeg.MuttonKorma"
            android:label="@string/app_name129"></activity>
        <activity android:name=".NonVeg.TandooriFish"
        android:label="@string/app_name180"></activity>
        <activity android:name=".Eggs"
    android:label="@string/app_name131"></activity>
        <activity android:name=".EggOmelette"
            android:label="@string/app_name132"></activity>
        <activity android:name=".EggPakora"
            android:label="@string/app_name133"></activity>
        <activity android:name=".EggsBiryani"
            android:label="@string/app_name134"></activity>
        <activity android:name=".EggsCurry"
        android:label="@string/app_name135"></activity>
        <activity android:name=".MasalaOmelette"
        android:label="@string/app_name137"></activity>
        <activity android:name=".EggToast"
            android:label="@string/app_name138"></activity>
<activity android:name=".Categories" android:label="@string/app_name141"/>
        <activity android:name=".AmlaPickle"
            android:label="@string/app_name144"></activity>
        <activity android:name=".MangoPickle"
            android:label="@string/app_name145"></activity>
        <activity android:name=".OnionPickle"
            android:label="@string/app_name146"></activity>
        <activity android:name=".VegetablesPickle"
            android:label="@string/app_name147"></activity>
        <activity android:name=".PumpkinPickle"
            android:label="@string/app_name148"></activity>
        <activity android:name=".Pickles"
            android:label="@string/app_name201"></activity>
        <activity android:name=".GajarPickle"
            android:label="@string/app_name202"></activity>
        <activity android:name=".Chutney"></activity>
        <activity android:name=".Salad"></activity>
        <activity android:name=".Daal"></activity>
        <activity android:name=".Soup"></activity>

    </application>

</manifest>